<h2><a href="https://www.khanacademy.org/hour-of-code/spin-off-of-project-wild-animal/5309872073998336">Spin-off of &quot;Project: Wild animal&quot;</a></h2> <script src="https://www.khanacademy.org/hour-of-code/spin-off-of-project-wild-animal/5309872073998336/embed.js?editor=no&amp;buttons=no&amp;author=no&amp;embed=yes"></script>
